* {
  font-family: "Ubuntu", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 999;
}

#navbar .container {
  position: relative;
  max-width: 90%;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .brand {
  font-size: 1.5rem;
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

#navbar .container .brand h1 {
  font-weight: bold;
  padding-top: 5px;
}

#navbar .container .brand h1 span {
  color: teal;
}

#navbar .container .navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
}

#navbar .container .navi #hamburger {
  display: block;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#navbar .container .navi #hamburger span {
  width: 25px;
  height: 2px;
  margin: 5px;
  display: block;
  background-color: black;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#navbar .container .navi #nav-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navbar .container .navi #nav-menu ul li {
  list-style: none;
  padding: 5px 0;
  padding-left: -10px;
  list-style: none;
}

#navbar .container .navi #nav-menu ul li a {
  padding-right: 25px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  font-weight: 600;
}

#navbar .container .navi #nav-menu ul li a:hover {
  color: #787575;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.hamburger-active > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 40%;
          transform-origin: 10% 40%;
}

.hamburger-active > span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.hamburger-active > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 30%;
          transform-origin: 10% 30%;
}

.hidden {
  visibility: hidden;
}

.list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  position: absolute;
  background-color: rgba(69, 219, 187, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: black;
  border-radius: 10px;
  right: 10px;
  top: 100%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.section-hero {
  width: 100%;
  padding-top: 50px;
}

.section-hero .hero {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero .hero .text h3 {
  font-size: .8rem;
  color: #025050;
  font-weight: 600;
  text-transform: capitalize;
}

.section-hero .hero .text h3 span {
  font-size: 2.3rem;
  font-weight: bold;
  display: block;
  margin-left: 10px;
  font-family: "Signika Negative", sans-serif;
  color: black;
}

.section-hero .hero .text h4 {
  font-size: .8rem;
  font-weight: bold;
}

.section-hero .hero .text p {
  font-size: .9rem;
  font-weight: 600;
}

.section-hero .hero .text button {
  background-color: teal;
  color: aliceblue;
  font-size: .8rem;
  -webkit-box-shadow: inset 0 0 0 0 black;
          box-shadow: inset 0 0 0 0 black;
}

.section-hero .hero .text button:hover {
  -webkit-box-shadow: inset 150px 0 0 0 black;
          box-shadow: inset 150px 0 0 0 black;
  color: aliceblue;
  -webkit-transition: ease-in-out .7s;
  transition: ease-in-out .7s;
}

.section-hero .hero .text button a {
  text-decoration: none;
  color: aliceblue;
}

.section-hero .hero .image img {
  width: 300px;
}

.about {
  width: 100%;
  margin-top: 40px;
}

.about h3 {
  font-size: 1.2rem;
  color: black;
  border-bottom: 2px solid black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-weight: bold;
  font-family: "Signika Negative", sans-serif;
}

.about span {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  color: teal;
  font-weight: 600;
  font-size: .8rem;
}

.about .row {
  width: 80%;
  margin: auto;
  padding: 5px;
  margin-top: 20px;
}

.about .row .content-1 {
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: teal;
  color: aliceblue;
}

.about .row .content-1:hover {
  background-color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.about .row .content-1 img {
  width: 70px;
  margin: auto;
  display: block;
  padding-top: 10px;
}

.about .row .content-1 p {
  font-size: .8rem;
  padding-top: 10px;
}

.about .row .content-2 {
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: teal;
  color: aliceblue;
  margin-top: 40px;
}

.about .row .content-2:hover {
  background-color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: ease-in-out;
          animation: ease-in-out;
  color: aliceblue;
}

.about .row .content-2 img {
  width: 70px;
  margin: auto;
  display: block;
  padding-top: 10px;
}

.about .row .content-2 p {
  font-size: 1rem;
  padding-top: 10px;
}

.about .row .content-2 .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.about .row .content-2 .skill img {
  width: 50px;
  padding-bottom: 10px;
}

.project {
  width: 100%;
  margin-top: 40px;
}

.project h3 {
  font-size: 1.2rem;
  color: black;
  border-bottom: 2px solid black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-weight: bold;
  font-family: "Signika Negative", sans-serif;
}

.project p {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  color: teal;
  font-weight: 600;
  font-size: .8rem;
}

.project .row {
  width: 80%;
  margin: auto;
}

.project .row .container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.project .row .container .card {
  padding: 5px 0;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}

.project .row .container .card:hover {
  -webkit-box-shadow: 15px 20px 25px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 20px 25px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background-color: black;
}

.project .row .container .card img {
  margin-top: -5px;
}

.project .row .container .card .card-body h5 {
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
}

.project .row .container .card .card-body a {
  margin-top: 10px;
  font-size: .7rem;
  -webkit-box-shadow: inset 0 0 0 0 teal;
          box-shadow: inset 0 0 0 0 teal;
}

.project .row .container .card .card-body a:hover {
  -webkit-box-shadow: inset 150px 0 0 0 teal;
          box-shadow: inset 150px 0 0 0 teal;
  -webkit-transition: ease-in-out .7s;
  transition: ease-in-out .7s;
}

.contact {
  width: 100%;
  margin-top: 40px;
}

.contact h3 {
  font-size: 1.2rem;
  color: black;
  border-bottom: 2px solid black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-weight: bold;
  font-family: "Signika Negative", sans-serif;
}

.contact p {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  color: teal;
  font-weight: 600;
  font-size: .8rem;
}

.contact form {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.contact form label {
  font-size: 1rem;
  font-family: "Signika Negative", sans-serif;
}

.contact form input {
  width: 100%;
  display: block;
  font-size: .9rem;
  margin-top: 5px;
}

.contact form textarea {
  width: 100%;
  height: 200px;
}

.contact button {
  margin-left: 30px;
  margin-top: 20px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: teal;
  margin-top: 10px;
}

footer h3 {
  font-size: 1rem;
  font-family: "Signika Negative", sans-serif;
  color: black;
  font-weight: 600;
  padding-top: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

footer .container {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .sosmed1 {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .sosmed1:hover {
  background-color: aliceblue;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .container .sosmed2 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

footer .container .sosmed2:hover {
  background-color: aliceblue;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .container .sosmed3 {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .sosmed3:hover {
  background-color: aliceblue;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .text {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

footer .text p {
  color: black;
  font-weight: 600;
  font-size: .7rem;
}

footer .text p span {
  font-family: "Signika Negative", sans-serif;
  font-size: .9rem;
  color: aliceblue;
  font-weight: 500;
}

@media (min-width: 992px) {
  #navbar .container {
    max-width: 80%;
  }
  #navbar .container .brand h1 {
    font-size: 1.7rem;
  }
  #navbar .container .navi #hamburger {
    display: none;
  }
  #navbar .container #nav-menu {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar .container #nav-menu ul {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-hero .hero {
    -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-hero .hero .text h3 {
    font-size: 1rem;
  }
  .section-hero .hero .text h3 span {
    font-size: 3rem;
  }
  .section-hero .hero .text p {
    font-size: 1rem;
    font-weight: 600;
  }
  .section-hero .hero .image img {
    width: 100%;
  }
  .about h3 {
    padding-top: 20px;
  }
  .about .row {
    margin-top: 20px;
    padding: 20px;
    width: 90%;
  }
  .about .row .content-1 {
    -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  .about .row .content-1 p {
    font-size: 1rem;
  }
  .about .row .content-2 {
    -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-top: 0;
  }
  .about .row .content-2 .skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .about .row .content-2 .skill img {
    width: 80px;
  }
  .project .row .container .card {
    width: 18rem;
  }
  .contact .container button {
    margin-left: 110px;
  }
}
/*# sourceMappingURL=main.css.map */