* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

$font-judul : "Signika Negative", sans-serif;
$border : 1px solid black;

#navbar {
    width: 100%;
    height: max-content;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    z-index: 999;
    .container {
        position: relative;
        max-width: 90%;
        height: 50px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand {
            font-size: 1.5rem;
            font-family: $font-judul;
            font-weight: bold;
            margin-left: 10px;
            h1 {
                font-weight: bold;
                padding-top: 5px;
                span {
                    color: teal;
                }
            }
        }
        .navi {
            display: flex;
            align-items: center;
            padding: 4px 0;
            
            #hamburger {
                display: block;
                position: absolute;
                right: 0;
                cursor: pointer;
                span {
                    width: 25px;
                    height: 2px;
                    margin: 5px;
                    display: block;
                    background-color: black;
                    transition: .2s ease-in-out;
                }
            }
            #nav-menu {
                box-sizing: border-box;
                ul {
                    li {
                        list-style: none;
                        padding: 5px 0;
                        padding-left: -10px;
                        list-style: none;
                        a {
                            padding-right: 25px;
                            display: block;
                            text-align: center;
                            text-decoration: none;
                            color: black;
                            text-align: center;
                            font-family: monospace;
                            font-size: 1rem;
                            font-weight: 600;
                            &:hover {
                                color: rgb(120, 117, 117);
                                transition: .2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}
// custom css untuk js
.hamburger-active  > span:nth-child(1) {
    transform: rotate(45deg) ;
    transform-origin: 10% 40%;
}
.hamburger-active  > span:nth-child(2) {
    transform: scale(0);
}
.hamburger-active  > span:nth-child(3) {
    transform: rotate(-45deg) ;
    transform-origin:  10% 30%;
}

.hidden {
    visibility: hidden;
}
.list {
    width: max-content;
    height: max-content;
    padding: 5px;
    position: absolute;
    background-color: rgba(69, 219, 187, 0.7);
    backdrop-filter: blur(5px);
    color: black;
    border-radius: 10px;
    right: 10px;
    top: 100%;
    transition: .2s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

// .navbar-fixed {
//     background-color: rgba(255, 255, 255, 0.3);
//     backdrop-filter: blur(5px);
//     z-index: 100;
//     position: fixed;
// }

// end custom
// hero 
.section-hero {
    width: 100%;
    padding-top: 50px;
    .hero {
        width: 100%;
        margin: auto;
        // border: $border;
        margin-top: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
            h3 {
                font-size: .8rem;
                color: rgb(2, 80, 80);
                font-weight: 600;
                text-transform: capitalize;
                span {
                    font-size: 2.3rem;
                    font-weight: bold;
                    display: block;
                    margin-left: 10px;
                    font-family: $font-judul;
                    color: black;
                }
            }
            h4 {
                font-size: .8rem;
                font-weight: bold;
            }
            p {
                font-size: .9rem;
                font-weight: 600;
            }
            button {
                background-color:teal;
                color: aliceblue;
                font-size: .8rem;
                box-shadow: inset 0 0 0 0 black;
                &:hover {
                    box-shadow: inset 150px 0 0 0 black;
                    color: aliceblue;
                    transition: ease-in-out .7s;
                }
                a {
                    text-decoration: none;
                    color: aliceblue;
                }
            }
        }
        .image {
            img {
                width: 300px;
            }
        }
        
    }
}
// end hero
// about
.about {
    width: 100%;
    margin-top: 40px;
    h3 {
        font-size: 1.2rem;
        color: black;
        border-bottom: 2px solid black;
        width: max-content;
        margin: auto;
        font-weight: bold;
        font-family: $font-judul;
    }
    span {
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
        color: teal;
        font-weight: 600;
        font-size: .8rem;
    }
    .row {
        width: 80%;
        margin: auto;
        padding: 5px;
        margin-top: 20px;
        .content-1 {
            box-shadow: 0 20px 25px -5px rgba(0,0,0,0.3);
            border-radius: 15px;
            background-color: teal;
            color: aliceblue;
            &:hover {
                background-color: black;
                transform: scale(1.1);
                transition: .8s ease-in-out; 
                
                
            }
            img {
                width: 70px;
                margin: auto;
                display: block;
                padding-top: 10px;
            }
            p {
                font-size: .8rem;
                padding-top: 10px;
            }
        }
        .content-2 {
            box-shadow: 0 20px 25px -5px rgba(0,0,0,0.3);
            border-radius: 15px;
            background-color: teal;
            color: aliceblue;
            margin-top: 40px;
            &:hover {
                background-color: black;
                transform: scale(1.1);
                transition: 1s; 
                animation: ease-in-out;
                color: aliceblue;
            }
            img {
                width: 70px;
                margin: auto;
                display: block;
                padding-top: 10px;
            }
            p {
                font-size: 1rem;
                padding-top: 10px;
            }
            .skill {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 10px;
                img {
                    width: 50px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}
// end about
// projet
.project {
    width: 100%;
    margin-top: 40px;
    h3 {
        font-size: 1.2rem;
        color: black;
        border-bottom: 2px solid black;
        width: max-content;
        margin: auto;
        font-weight: bold;
        font-family: $font-judul;
    }
    p {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
        color: teal;
        font-weight: 600;
        font-size: .8rem;
    }
    .row {
        width: 80%;
        margin: auto;
        .container {
            width: max-content;
            .card {
                padding: 5px 0;
                border-radius: 15px;
                border: 1px solid black;
                overflow: hidden;
                cursor: pointer;
                &:hover  {
                    box-shadow: 15px 20px 25px -5px rgba(0,0,0,0.3);
                    transition: .5s ease-in-out;
                    background-color: rgb(0, 0, 0);
                }
                img {
                    margin-top: -5px;
                }
                .card-body {
                    h5 {
                        font-family: $font-judul;
                        font-weight: bold;
                    }
                    a {
                        margin-top: 10px;
                        font-size: .7rem;
                        box-shadow: inset 0 0 0 0 teal;
                        &:hover {
                            box-shadow: inset 150px 0 0 0 teal;
                            transition: ease-in-out .7s;
                        }
                        
                    }
                }
            }
        }
    }
}
// contact
.contact {
    width: 100%;
    margin-top: 40px;
    h3 {
        font-size: 1.2rem;
        color: black;
        border-bottom: 2px solid black;
        width: max-content;
        margin: auto;
        font-weight: bold;
        font-family: $font-judul;
    }
    p {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
        color: teal;
        font-weight: 600;
        font-size: .8rem;
    }
    form {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        // border: 1px solid black;
        label {
            font-size: 1rem;
            font-family: $font-judul;
        }
        input {
            width: 100%;
            display: block;
            font-size: .9rem;
            margin-top: 5px;
        }
        textarea {
            width: 100%;
            height: 200px;
        }
    }
    button {
        margin-left: 30px;
        margin-top: 20px;
    }
}
// footer
footer {
    width: 100%;
    height: 150px;
    background-color: teal;
    margin-top: 10px;
    h3 {
        font-size: 1rem;
        font-family: $font-judul;
        color: black;
        font-weight: 600;
        padding-top: 20px;
        width: max-content;
        margin: auto;
    }
    .container {
        width: 60%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        .sosmed1 {
            width: 30px;
            height: 30px;
            border: 1px solid white;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            // align-items: center;
            &:hover {
                background-color: aliceblue;
                transition: .3s ease-in-out;
            }
        }
        .sosmed2 {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            margin: 0 10px;
            // align-items: center;
            &:hover {
                background-color: aliceblue;
                transition: .3s ease-in-out;
            }
        }
        .sosmed3 {
            width: 30px;
            height: 30px;
            border: 1px solid white;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            // align-items: center;
            &:hover {
                background-color: aliceblue;
                transition: .3s ease-in-out;
            }
        }
    }
    .text {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
        p {
            color: black;
            font-weight: 600;
            font-size: .7rem;
            span {
                font-family: $font-judul;
                font-size: .9rem;
                color: aliceblue;
                font-weight: 500;
            }
        }
    }
}




// desktop
@media (min-width: 992px) {
    // navbar
    #navbar {
        .container {
            max-width: 80%;
            .brand {
                h1 {
                    font-size: 1.7rem;
                }
            }
            .navi {
                #hamburger {
                    display: none;
                }
            }
            #nav-menu {
                visibility: visible;
                display: flex;
                align-items: center;
                justify-content: center;
                ul {
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    }
            }
        }
    }
    // end navbar
    // hero
    .section-hero {
        .hero {
            box-shadow: 0 20px 25px -5px rgba(0,0,0,0.3);
            border-radius: 15px;
            width: 80%;
            flex-direction: row;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .text {
                h3 {
                    font-size: 1rem;
                    span {
                        font-size: 3rem;
                    }
                }
                p {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
            .image {
                img {
                    width: 100%;
                }
            }
        }
    }
    // about 
    .about {
        // background-color: darkgray;
        // margin-top: 0;
        h3 {
            padding-top: 20px;
        }
        .row {
            margin-top: 20px;
            padding: 20px;
            width: 90%;
            .content-1 {
                box-shadow: 0 20px 25px -5px rgba(0,0,0,0.3);
                border-radius: 15px;
                p {
                    font-size: 1rem;
                }
            }
            .content-2 {
                box-shadow: 0 20px 25px -5px rgba(0,0,0,0.3);
                border-radius: 15px;
                margin-top: 0;
                .skill {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-top: 10px;
                    img {
                        width: 80px;
                    }
                }
            }
        }

    }
    .project {
        .row {
            .container {
                .card {
                    width: 18rem;
                }
            }
            
        }
        
    }
    .contact {
        .container {
            button {
                margin-left: 110px;
            }
        }
    }
 }
